<!DOCTYPE html>
<html land="EN-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technology Blog</title>
        <link rel="stylesheet" href="./public/css/style.css">
    </head>
    <body class="column">
        <nav class="navbar">
            <ul class="row">
                <li class="inline-item"><a href="Home">Home</a></li>
                <li class="inline-item"><a href="mypage">MyPage</a></li>
                <li class="inline-item"><a href="Logout">Logout</a></li>
            </ul>
        </nav>
        <header class="hero">
            <h1 class="title"><a href="mypage">MyPage</a></h1>
        </header>
        <main class="col-auto">
            {{{body}}}
        </main>
        <footer class="footer row justify-center">
            <a href="mypage/new">Add New Post</a>
        </footer>
    </body>
</html>